.todo_items{
    margin-top: 20px;
    font-size: 45px;
}

.btnEdit{
    background-color: blue;
    border: none;
    color: #fff;
    width: 50px;
    height: 30px;
    margin-left: 40px;
    border-radius: 6px;
    cursor: pointer;
}
.btnDelete{
    background-color: red;
    border: none;
    color: #fff;
    width: 50px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
}